doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Simple
    body(onload="inje.roomJoin.init()")
        h1 join ::: #{roomId}

        button#uid_login_btn 로그인
        script(src="/public/js/client-bundle.js") 


