<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Join</h1>
    <button type="button" id="uid_login_btn">로그인</button>
    로그인된 아이디 : <%= roomId %>
    <script src="/public/js/join-bundle.js"></script>
  </body>
</html>
