doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Simple
    body(onload="inje.lobby.init()")
        h1 lobby 
        button#uid_create_room 방 만들기
        button#uid_join_room 방 참여
        div#test 1234
        script(src="/public/js/client-bundle.js") 


